.detalle-tienda {
    margin-top: 100px;
    padding: 100px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
    gap: 50px;
}
.imagen img {
    width: 500px;
    height: auto;
}
.texto {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
