.navbar {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 70px;
    padding: 0 20px;
    background-color: #432918;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.usuario-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nombre-usuario {
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.btn-logout {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 6px 10px;
    cursor: pointer;
    font-size: 14px;
}

    .btn-logout:hover {
        opacity: 0.9;
    }
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.navbar button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
}
    .navbar button:hover {
        background-color: #e9d8c8;
        color: #432918;
        border-radius: 5px;
    }
.seccion {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    background-image: url('../assets/fondo2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn-principal {
    background: #432918;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: .3s;
}

    .btn-principal:hover {
        background: #6d4429;
    }
.texto-banner h1 {
    font-size: 4rem;
    margin-bottom: 40px;
    margin-right: 70px;
}

.texto-banner p {
    font-size: 1.3rem;
    margin-bottom: 30px;
    margin-right: 70px;
}


.banner-img {
    width: 550px;
    height: 550px;
    display: block;
    filter: drop-shadow(0px 10px 20px rgba(0,0,0,.15));
    
    transition: opacity 0.5s ease;
}


    
.input {
    width: 700px;
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid #ccc;
    outline: none;
    font-size: 16px;
    transition: 0.3s;
}
.container {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.logo {
    height: 70px;
    width: auto;
}
.tiendas-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}

.tienda-card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    width: 100%;
    max-width: 250px;
    min-width: 250px;
}
    .tienda-card:hover {
        border: 2px solid #000000;
        transform: scale(1.05);
    }
.tienda-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}
h1, h2 {
    text-align: center;
}
.texto-banner {
    animation: aparecerDerecha 1s ease-out;
}
.logo {
    height: 70px;
    width: auto;
   
}
.Imagenes {
    height: 35px;
    width: 35px;
}

@keyframes flotar {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes aparecerDerecha {
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.titulo {
    background-color: wheat;
    text-align: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    height: 100px;
}
.menu {
    position: fixed;
    top: 70px;
    left: 0;
    display: flex;
    flex-direction: column;
    background: white;
    width: 200px;
    height: calc(100vh - 70px);
    padding: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
}
