.clientes-container {
    width: 95%;
    max-width: 1700px;
    margin: 40px auto;
}

.clientes-header {
    display: flex;
    padding-top: 80px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

    .clientes-header h1 {
        font-size: 42px;
        color: #4B2E1E;
        margin: 0;
    }

.btn-agregar {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 22px;
    background: #5B3721;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
}

    .btn-agregar:hover {
        background: #744629;
    }

.tabla-clientes {
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 25px rgba(0,0,0,.15);
}
.tabla-header {
    display: grid;
    grid-template-columns: 80px 1fr 1fr 2fr 1fr 170px;
    background: #e9bca3;
    color: #4B2E1E;
    font-weight: bold;
    padding: 18px;
}
/* --------- TABLA --------- */

.tabla-header,
.fila-cliente {
    display: grid;
    grid-template-columns: 60px /* ID */
    180px /* Nombre */
    220px /* Email */
    130px /* Teléfono */
    180px /* Dirección */
    220px /* Descripción */
    120px /* Imagen */
    140px /* Categoría */
    120px; /* Acciones */

    align-items: center;
    gap: 15px;
}



.fila-cliente {
    padding: 18px;
    border-bottom: 1px solid #ececec;
    transition: .2s;
}

    .fila-cliente:hover {
        background: #faf7f5;
    }

    .fila-cliente:last-child {
        border-bottom: none;
    }

    .fila-cliente span {
        font-size: 16px;
        color: #444;
        word-break: break-word;
    }

/* --------- IMAGEN --------- */

.imagen-tienda {
    width: 90px;
    height: 70px;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid #ddd;
}

/* --------- ACCIONES --------- */

.acciones {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn-icon {
    width: 42px;
    height: 42px;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    transition: .25s;
}

.editar {
    background: #f2b84b;
    color: white;
}

    .editar:hover {
        background: #d89d2e;
    }

.eliminar {
    background: #d9534f;
    color: white;
}

    .eliminar:hover {
        background: #c13e3a;
    }

.sin-datos {
    padding: 50px;
    text-align: center;
    font-size: 20px;
    color: gray;
}
